<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground</title>
</head>
<body>
    <h1>Campground id <%=campground._id%></h1>
    <p>
        <%=campground.title %> <%=campground.price%> <%=campground.description%> <%=campground.location%>
    </p>
    <a href="/campgrounds">Back to list of campgrounds</a>
</body>
</html> 